/*---------------------------------------------------------------------
            FDG FORENSICS WEBSITE CSS STYLE FILE
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
                        WEBSITE COLOUR SCHEME
---------------------------------------------------------------------*/

/*First colour: rgba(0,53, 93, 0.8); - header
Secondary colour: rgba(37, 105, 166, 0.8);  - setting
Third colour: rgba(43, 95, 143, 0.8); - buttons
Fourth colour: rgba(219, 232, 243, 0.8) - question
*/


/*---------------------------------------------------------------------
                        MOBILE DEFAULT STYLES - GLOBAL STYLES
---------------------------------------------------------------------*/

/* Prevents adjustments of font size after orientation change in IE on Windows phone and in IOS */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Apply a natural box model layout to all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* clearfix: Force an element not to collapse */
.clearfix: after {
    content: "";
    display: table;
    clear: both;
}

/* All images and video set to 100% width of their parent container */

img, video {
    width: 100%;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(219, 232, 243, 1);
}

.mainPic {
    background-image: url(../images/maze-1542265_1280.png);
    
}

.row {
    margin: 0;
}

.header {
    padding: 10px 3px;
    height: 88px;
    width: 100%;
    background-color: rgba(0,53, 93, 0.8);
    clear: both;
}

.logoC img {
    width: auto;
}

div.welcome {
    margin: 0px auto;
    text-align: center;
}

div.welcome > h1 {
/*    margin: 15px auto;*/
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
}

#quizTitle {
    display: none;
}

#quizTitleS {
    display: block;
}

.settingBtn {
    font-size: 1.5em;
    color: brown;
    width: auto;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

/*
.header > div {
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}
*/

.bottomB {
    border-bottom: 2px solid silver;
}

.rightB {
    border-right: 2px solid silver;
}

.rightBC {
    border-right: auto;
}

.setting {
    font-size: 0.8em;
    color: rgb(141, 173, 201);
    width: 100%;
    background-color: rgba(37, 105, 166, 0.8);
}

p.label {
    padding: 10px auto;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}

.col-xs-6 {
    height: 80px;
}

.setting > .row > div {
/*    padding-left: 20px;
    background-color: red;*/
}

#quizcategory {
    width: 200px;
}

.modal-content {
    background-color: rgba(37, 105, 166, 1);
}

.buttons {
    color: antiquewhite;
    background-color: rgba(43, 95, 143, 0.8);
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 0 auto;
    /*color: rgb(198, 217, 176);*/
    color: rgb(225, 225, 225);
    background-color: rgba(146, 181, 64, 1);
    width: 120px;
}

.btn:hover {
    color: rgb(128, 128, 128);
}

.button.col-xs-4, .button.col-xs-4, .warning.col-xs-4 {
    margin-top: 15px;
    height: 50px;
}

.warning.col-xs-4 {
    text-align: right;
    color: deeppink;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px;
}

.questions {
    
}
/*---------------------------------------------------------------------
                 DESKTOP STYLES - 568 SCREEN RESOLUTION
---------------------------------------------------------------------*/


@media screen and (min-width: 568px) {
    .setting .row {
        height: auto;
    }
    #quizTitle {
        display: block;
    }

    #quizTitleS {
        display: none;
    }
    
    .setting {
        font-size: 1em;
    }
}

/*---------------------------------------------------------------------
                 DESKTOP STYLES - 768 SCREEN RESOLUTION
---------------------------------------------------------------------*/


@media screen and (min-width: 768px) {
/*
    .col-md {
        height: 100px;
    }
*/

}

/*---------------------------------------------------------------------
                 DESKTOP STYLES - 992 SCREEN RESOLUTION
---------------------------------------------------------------------*/


@media screen and (min-width: 992px) {
    .bottomB {
        border-bottom: none;
    }
    .rightBC {
        border-right: 2px solid silver;
    }
}

/*---------------------------------------------------------------------
                 DESKTOP STYLES - 1024 SCREEN RESOLUTION
---------------------------------------------------------------------*/


@media screen and (min-width: 1024px) {
    .setting .row {
        height: 80px;
    }
    .col-md {
        height: 70px;
    }
}